<!DOCTYPE html>
<html>

<head>
	<title>The RESTful Blog</title>
	<meta charset="UTF-8">
    <link href="/stylesheet/app.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.bootcss.com/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet">
    <!--<script src="http://cdn.bootcss.com/semantic-ui/2.2.10/semantic.min.js"></script>-->
    <style type="text/css">
        
	</style>
</head>

<body>
	<div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="code icon"></i>The RESTful Blog</div>
            <a href="/" class="item">HOME</a>
            <a href="/blogs/new" class="item">NEW POST</a>
        </div>
    </div>